@import "./base.css";
@import "./layout.css";
@import "./style.css";

#app {
  -webkit-user-select: none;
  user-select: none;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  font-weight: normal;
}